@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Mina:wght@400;700&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Mina:wght@400;700&display=swap'); */

/*COLORS:
#623B5A - Purple
#F2F5FF - off white
#2274a5 - Blue
*/

* {
  margin: 0;
  font-family: "Mina";
}

/*START - WELCOME/LOGIN/REGISTER*/
.welcome-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 20px;
}

.welcome-logo {
  width: 80%;
  height: 80%;
}

#welcomeBtn {
  width: 200px;
  background-color: #2274a5;
  color: #f2f5ff;
  font-size: 20px;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#welcomeSpan {
  color: #2274a5;
}

.login-register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border-radius: 5px;
  background-color: #f2f5ff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-register-logo {
  width: 140px;
  height: 140px;
  margin-bottom: 20px;
}

.auth-input-field {
  width: 100%;
  padding: 10px;
  margin: 12px 0;
  box-sizing: border-box;
  border: 1px solid #f2f5ff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.login-register-button {
  width: 100%;
  background-color: #2274a5;
  color: #f2f5ff;
  font-size: 15px;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  cursor: pointer;
}

.google-button {
  background-color: #2274a5;
  color: #f2f5ff;
  font-size: 15px;
  padding: 10px;
  border: none;
  cursor: pointer;

  border-radius: 5px;
  cursor: pointer;
}

.pTag-auth {
  font-size: 13px;
}

.signIn-link {
  font-size: 13px;
  color: #2274a5;
  font-weight: 800;
}

/*END - WELCOME/LOGIN/REGISTER*/

/*START - NAVBAR*/
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #241420; */
  background-color: #f2f5ff;
  padding: 10px 50px;
  border-radius: 5px;
  box-sizing: border-box;
}

.logo {
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.navbarRight {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  font-size: 20px;
}

.navTab {
  /* color: #f2f5ff; */
  text-decoration: none;
}

/*END - NAVBAR*/

/* START - HOME PAGE  */
#homepage-container {
  display: flex;
  height: 100vh;
  min-height: 100vh;
  gap: 30px;
  padding: 75px;
  background-color: #f2f5ff;
  justify-content: center;
}

#homepage-left-container {
  display: flex;
  width: 600px;
  height: 600px;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

#homepage-right-container {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 600px;
  /* justify-content: flex-end; */
  align-items: end;
  background-color: #f2f5ff;
}

.homeHeader {
  display: flex;
  font-family: "Press Start 2P";
  color: #623b5a;
  justify-content: center;
  text-decoration: none;
  align-items: center;
}

:link {
  text-decoration: none;
}

#how-to-play-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  height: auto;
}

#howto-btn {
  width: 600px;
  justify-content: center;
  align-items: center;
  color: #2274a5;
  background-color: white;
  font-size: 15px;
  padding: 10px;
  border: none;
  cursor: pointer;
}

#play-now-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#play-now-btn {
  display: flex;
  width: 600px;
  justify-content: center;
  background-color: #2274a5;
  color: #f2f5ff;
  font-size: 15px;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.level-link-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 500px;
  height: auto;
  font-size: larger;
}

#warning-text {
  font-weight: bolder;
  color: #2274a5;
}

.container {
  display: flex;
  font-family: "Press Start 2P";
  font-size: 12px;
  justify-content: center;
  width: 600px;
}

.typed {
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid;
  width: 0;
  animation: typing 3.5s steps(30, end) forwards, blinking 1s infinite;
  font-family: "Press Start 2P";
  color: #623b5a;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blinking {
  0% {
    border-color: transparent;
  }

  50% {
    border-color: black;
  }

  100% {
    border-color: transparent;
  }
}

/* END - HOME PAGE  */

/* START - PROFILE  */
.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-avatar-container {
  display: flex;
  height: 350px;
  width: 500px;
  border: 1px solid #623b5a;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}

.profile-avatar {
  display: flex;
  height: 100px;
  width: 100px;
  border: 1px solid #623b5a;
  border-radius: 0%;
}

/* END - PROFILE */

/*Profile Page*/
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-image {
  border-radius: 50%;
  margin-bottom: 10px;
  width: 120px;
  height: 120px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.rounded-image {
  border-radius: 50%;
}

.user-name {
  font-size: 30px;
  margin-bottom: 5px;
}

.level-indicator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 20px;
  color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.editProfile-button {
  width: 150px;
  background-color: #2274a5;
  color: #f2f5ff;
  font-size: 16px;
  padding: 8px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*END Profile Page*/

/*AVATAR PAGE START*/
.profile-modal {
  position: fixed;
  top: 300px; /*go up to 0 to move it higher*/
  right: 0px; /* -400px Start off-screen, adjust as needed */
  width: 400px;
  height: 100%;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease-in-out;
}

.profile-modal.active {
  right: 0;
}

.modal-header {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.modal-avatars-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.avatar-images {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*AVATAR PAGE END*/
