/*START - WELCOME/LOGIN/REGISTER*/
.welcome-container {
  width: 80%;
  max-width: 200px;
  margin: auto;
  padding: 20px;
  border: none;
  background-color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-register-container {
  width: 80%;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-register-logo {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}

.auth-input-field {
  width: 100%;
  padding: 10px;
  margin: 12px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-register-button,
.google-button {
  width: 100%;
  background-color: #4caf50;
  color: #fff;
  font-size: 15px;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.sign-in-link {
  margin-top: 10px;
  text-align: center;
}
.pTag-auth {
  font-size: 13px;
}

.signIn-link {
  color: #4caf50;
}

/*END - WELCOME/LOGIN/REGISTER*/


/* game board sizing */

* {
  box-sizing: border-box;
}

:root {
  --game-viewport-width: 180px;
  --game-viewport-height: 180px;
  --game-cell-size: 16px;
  --pixel-size: 1;
}

html, body {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

canvas {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

/* Scale up game art if we can fit it. 2x */
@media(min-width: 360px) {
  :root {
      --pixel-size: 2;
  }
}
/* 3x */
@media(min-width: 540px) {
  :root {
      --pixel-size: 3;
  }
}
/* 4x */
@media(min-width: 720px) {
  :root {
      --pixel-size: 4;
  }
}
/* 5x */
@media(min-width: 900px) {
  :root {
      --pixel-size: 5;
  }
}
/* 6x */
@media(min-width: 1080px) {
  :root {
      --pixel-size: 6;
  }
}
/* 7x */
@media(min-width: 1260px) {
  :root {
      --pixel-size: 7;
  }
}