@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Mina:wght@400;700&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Mina:wght@400;700&display=swap'); */

/*COLORS:
#623B5A - Purple
#F2F5FF - off white
#2274a5 - Blue
*/

* {
  margin: 0;
  font-family: "Mina";
}

/*START - WELCOME/LOGIN/REGISTER*/
.welcome-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 20px;
}

.welcome-logo {
  width: 30%;
  height: 30%;
}

#welcomeBtn {
  width: 200px;
  background-color: #2274a5;
  color: #f2f5ff;
  font-size: 20px;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#welcomeSpan {
  color: #2274a5;
}

.typed-welcome {
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid;
  width: 0;
  animation: typing 3.5s steps(30, end) forwards, blinking 1s infinite;
  font-family: "Press Start 2P";
  color: #623b5a;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.login-register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border-radius: 5px;
  background-color: #75c8f8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-register-logo {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
  border-radius: 50%;
}

.typed-login {
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid;
  width: 0;
  animation: typing 3.5s steps(30, end) forwards, blinking 1s infinite;
  font-family: "Press Start 2P";
  color: #623b5a;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.auth-input-field {
  width: 100%;
  padding: 10px;
  margin: 12px 0;
  box-sizing: border-box;
  border: 1px solid #f2f5ff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.login-register-button {
  width: 100%;
  background-color: #2274a5;
  color: #f2f5ff;
  font-size: 15px;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  cursor: pointer;
}

.google-button {
  background-color: #2274a5;
  color: #f2f5ff;
  font-size: 15px;
  padding: 10px;
  border: none;
  cursor: pointer;

  border-radius: 5px;
  cursor: pointer;
}

.pTag-auth {
  font-size: 13px;
}

.signIn-link {
  font-size: 13px;
  color: #2274a5;
  font-weight: 800;
}

/*END - WELCOME/LOGIN/REGISTER*/

/*START - NAVBAR*/
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  /* background-color: #f2f5ff; */
  background-color: #623b5a;
  padding: 10px 50px;
  border-radius: 5px;
  box-sizing: border-box;
}

.logo {
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.navbar-rightsideMain {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  gap: 20px;
}

.navbarProfile {
  display: flex;

  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chaningColors {
  color: white;
}

.logoutButton {
  font-size: 20px;
  color: #2274a5;
}

.navbarRight {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.navTab {
  color: white;
  font-size: 20px;
}

/*END - NAVBAR*/

/* START - HOME PAGE  */
#homepage-container {
  display: flex;
  height: 100vh;
  min-height: 100vh;
  gap: 30px;
  padding: 75px;
  background-color: white;
  justify-content: center;
}

#homepage-left-container {
  display: flex;
  width: 600px;
  height: 600px;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.home-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

#homepage-right-container {
  display: flex;
  flex-direction: column;
  width: 600px;

  /* justify-content: flex-end; */
  align-items: end;
  background-color: white;
  padding-top: 50px;
}

.homepage-img {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.homeHeader {
  display: flex;
  font-family: "Press Start 2P";
  color: white;
  justify-content: center;
  text-decoration: none;
  align-items: center;
}

.changeColor-Span {
  font-family: "Press Start 2P";
  color: #2274a5;
}

:link {
  text-decoration: none;
}

#how-to-play-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  height: auto;
}

#howto-btn {
  width: 600px;
  justify-content: center;
  align-items: center;
  color: #2274a5;
  background-color: white;
  font-size: 15px;
  padding: 10px;
  border: none;
  cursor: pointer;
}

#play-now-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#play-now-btn {
  display: flex;
  width: 600px;
  justify-content: center;
  background-color: #2274a5;
  color: #f2f5ff;
  font-size: 15px;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.level-link-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 500px;
  height: auto;
  font-size: larger;
}

#warning-text {
  font-weight: bolder;
  color: #2274a5;
}

.container {
  display: flex;
  font-family: "Press Start 2P";
  font-size: 12px;
  justify-content: center;
  width: 600px;
}

.typed {
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid;
  width: 0;
  animation: typing 3.5s steps(30, end) forwards, blinking 1s infinite;
  font-family: "Press Start 2P";
  color: #623b5a;
  font-size: 25px;
}

.span-codeHero {
  font-family: "Press Start 2P";
  color: #623b5a;
  font-size: 25px;
}

.homepage-ptag {
  color: #623b5a;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blinking {
  0% {
    border-color: transparent;
  }

  50% {
    border-color: black;
  }

  100% {
    border-color: transparent;
  }
}

/* END - HOME PAGE  */

/* START - PROFILE  */
.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-avatar-container {
  display: flex;
  height: 350px;
  width: 500px;
  border: 1px solid #623b5a;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}

.profile-avatar {
  display: flex;
  height: 100px;
  width: 100px;
  border: 1px solid #623b5a;
  border-radius: 0%;
}

/* END - PROFILE */

/*Profile Page*/
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  max-width: 50%;
}

.profile-image {
  border-radius: 50%;
  margin-bottom: 10px;
  width: 120px;
  height: 120px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.rounded-image {
  border-radius: 50%;
}

.user-name {
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin-bottom: 5px;
}

.level-indicator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 20px;
  color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.profileButton-div {
  display: flex;
}

.editProfile-button {
  width: 150px;
  background-color: #2274a5;
  color: #f2f5ff;
  font-size: 16px;
  padding: 8px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #623b5a;

    &:active {
      background-color: #0f3a5e;
    }
  }
}

/*END Profile Page*/

/*AVATAR PAGE START*/
.profile-modal {
  display: flex;
  position: fixed;
  max-width: 50%;
  gap: 20px;
  top: 300px;
  /*go up to 0 to move it higher*/
  right: 0px;
  /* -400px Start off-screen, adjust as needed */
  max-height: 80%;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease-in-out;
  overflow-y: auto;
  border-radius: 5px;
}

.profile-modal.active {
  right: 0;
}

.modal-header {
  display: flex;
  justify-content: start;
  padding: 20px;
  color: #623b5a;
  font-size: 25px;
}

.closeIcon {
  font-size: 40px;
  color: #623b5a;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.modalHeader-text {
  display: flex;

  padding-left: 60px;
}

.avatar-images {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

@media (max-width: 600px) {
  .profile-modal {
    width: 100%;
    right: 0;
  }

  .modal-header {
    font-size: 20px;
  }

  .avatar-images {
    width: 80px;
    height: 80px;
  }
}

/*AVATAR PAGE END*/

/* player-selection styles*/

.container-box {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 30px;
  text-align: center;
  /*border: 1px solid #333;*/
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 700px;
  width: 100%;
  /*box-shadow: #333;*/
}

.player-selection {
  display: flex;
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  flex-direction: column;
}

.player-selection button {
  border: none;
  background-color: #2274a5;
  color: #fff;
  padding: 10px 18px;
  cursor: pointer;
  font-size: 20px;
}

.player-selection canvas {
  width: 100px;
  height: 100px;
  margin: 10px 0;
}

.player-selection .player-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.title {
  text-align: center;
  text-transform: uppercase;
  text-align: center;
  font-family: "Press Start 2P";
  color: #623b5a;
  letter-spacing: 0.1em;
  text-shadow: 0px 2px 2px #623b5a9b;
  margin-bottom: 20px;
}

.box {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.character-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 200px;
  height: 170px;
  border: 3px solid #2274a5 !important;
  border-radius: 2%;

  overflow: hidden;
  background: white;
  margin-bottom: 10px;
  /* transition: all 0.1s ease-out; */
}

.character-box:hover {
  color: rgb(191, 255, 241);
}

.characterBox img.tier2:hover,
.characterBox img.selected {
  animation: hueRotate 2s infinite;
  transform: scale(1.05);
}

.characterBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

/* .selectedBox {
  border: 1px solid rgb(24, 240, 255) !important;
<<<<<<<<< Temporary merge branch 1
} */

.game-container {
  position: relative;
}

.volume-control {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.volume-control:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.btnhelp {
  z-index: 1;
  display: inline-block;
  position: absolute;
  right: 18px;
  top: 100px;
}

.btnhelpoutline {
  border-radius: 8px;
  font-size: 20px;
  font-weight: 400;
  border: 2px solid #623b5a;
  color: #623b5a;
  width: 100px;
  transition: 0.25s all ease-in-out;
  background-color: white;
}

.btnIcon {
  font-size: 25px;
  margin-right: 0;
  vertical-align: middle;
}

.btnhelp span {
  display: inline-block;
}

.btnhelp:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* How to page */

.main-container {
  width: 100%;
  min-height: 100vh;
  color: white;
  text-align: center;
  padding: 10vh 0;
  transition: 0.3s all ease-out;
  background-color: #623b5a;
}

.cont-title {
  text-transform: uppercase;
  font-family: "Press Start 2P";
  color: white;
  letter-spacing: 0.1em;
  text-shadow: 0px 2px 2px white;
  margin-bottom: 20px;
}

.explainer {
  font-size: 20px;
  line-height: 1.3;
  margin: 5vh 0;
  text-align: right;
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 40px;
}

.explainer-clock {
  font-size: 20px;
  line-height: 1.3;
  margin: 20px;
  text-align: left;
}

.clock-anim {
  font-size: 100px;
  animation: alarmAnimation 1s infinite;
  margin: 50px;
}

@keyframes alarmAnimation {
  0% {
    transform: scale(1) rotate(0);
  }

  25% {
    transform: scale(1.1) rotate(-10deg);
  }

  50% {
    transform: scale(1) rotate(0);
  }

  75% {
    transform: scale(1.1) rotate(10deg);
  }

  100% {
    transform: scale(1) rotate(0);
  }
}

.arrows-anim {
  font-size: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrows-horizontal {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.arrows-up,
.arrows-left,
.arrows-right {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

/* .selectedBox {
  border: 1px solid rgb(24, 240, 255) !important;
} */

.game-container {
  position: relative;
}

.volume-control {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.volume-control:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.btnhelp {
  z-index: 1;
  display: inline-block;
  position: absolute;
  right: 18px;
  top: 100px;
}

.btnhelpoutline {
  border-radius: 10px;
  font-size: 18px;
  font-weight: 400;
  border: 2px solid #623b5a;
  color: #623b5a;
  transition: 0.25s all ease-in-out;
  background-color: #f2f5ff;
}

.btnIcon {
  font-size: 25px;
  margin-right: 0;
  vertical-align: middle;
}

.btnhelp span {
  display: inline-block;
}

.btnhelp:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* How to page */

.main-container {
  width: 100%;
  min-height: 100vh;
  color: white;
  text-align: center;
  padding: 10vh 0;
  transition: 0.3s all ease-out;
  background-color: #623b5a;
}

.cont-title {
  text-transform: uppercase;
  font-family: "Press Start 2P";
  color: white;
  letter-spacing: 0.1em;
  text-shadow: 0px 2px 2px white;
  margin-bottom: 20px;
}

.explainer {
  font-size: 20px;
  line-height: 1.3;
  margin: 5vh 0;
  text-align: right;
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 40px;
}

.explainer-clock {
  font-size: 20px;
  line-height: 1.3;
  margin: 20px;
  text-align: left;
}

.clock-anim {
  font-size: 100px;
  animation: alarmAnimation 1s infinite;
  margin: 50px;
}

@keyframes alarmAnimation {
  0% {
    transform: scale(1) rotate(0);
  }

  25% {
    transform: scale(1.1) rotate(-10deg);
  }

  50% {
    transform: scale(1) rotate(0);
  }

  75% {
    transform: scale(1.1) rotate(10deg);
  }

  100% {
    transform: scale(1) rotate(0);
  }
}

.arrows-anim {
  font-size: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrows-horizontal {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.arrows-up,
.arrows-left,
.arrows-right {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

/*FOOTER START*/
.footer-basic {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 40px 0;
  background-color: #2274a5;
  color: #623b5a;
  text-align: center;
}

.socialContainer {
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 100px;
}

.footer-basic ul a:hover {
  opacity: 3;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
  border: none;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  border-radius: 50%;
  color: #623b5a;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
  color: white;
}

.footer-basic .copyright {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  text-align: center;
  font-size: 15px;
  color: white;
  margin-bottom: 0;
}

/*FOOTER END*/

/* >>>>>>>>>Temporary merge branch 2 .gameWelcomeModelContainter {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  width: 300px;
  margin-left: 50px; */
/* } */

.gameWelcomeModelContainter {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  position: relative;
}

.gameWelcomeModelButton {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/* Popup container styling */
.popup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

/* Question styling */
.popup-question {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

/* Options container styling */
.popup-options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Option button styling */
.popup-option-button {
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #f0f0f0;
  transition: background-color 0.3s;
}

.popup-option-button:hover {
  background-color: #e0e0e0;
}
