/*COLORS:
#623B5A - Purple
#F2F5FF - off white
#2274a5 - Blue
*/

/*START - WELCOME/LOGIN/REGISTER*/
.welcome-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 20px;
}

.welcome-logo {
  width: 80%;
  height: 80%;
}

#welcomeBtn {
  width: 200px;
  background-color: #2274a5;
  color: #f2f5ff;
  font-size: 20px;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#welcomeSpan {
  color: #2274a5;
}

.login-register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border-radius: 5px;
  background-color: #f2f5ff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-register-logo {
  width: 140px;
  height: 140px;
  margin-bottom: 20px;
}

.auth-input-field {
  width: 100%;
  padding: 10px;
  margin: 12px 0;
  box-sizing: border-box;
  border: 1px solid #f2f5ff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.login-register-button {
  width: 100%;
  background-color: #2274a5;
  color: #f2f5ff;
  font-size: 15px;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  cursor: pointer;
}

.google-button {
  background-color: #2274a5;
  color: #f2f5ff;
  font-size: 15px;
  padding: 10px;
  border: none;
  cursor: pointer;

  border-radius: 5px;
  cursor: pointer;
}

.pTag-auth {
  font-size: 13px;
}

.signIn-link {
  font-size: 13px;
  color: #2274a5;
  font-weight: 800;
}
/*END - WELCOME/LOGIN/REGISTER*/

/*START - NAVBAR*/
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #623b5a;

  padding: 10px;
  border-radius: 5px;
}

.logo {
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.navbarRight {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  font-size: 20px;
}

.navTab {
  color: #f2f5ff;
  text-decoration: none;
}
/*END - NAVBAR*/
